body {
    text-align: center;
    background-color: black;
    width: fit-content;
    margin: 0.625em auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 45em;
}

header {
    max-width: 45em;
    margin: 0 auto;
    background-color: #525151;
}

nav ul {
    padding: 0;
    margin: 0;
    background-color: #525151;
}

nav ul li {
    list-style: none;
    display:inline-block;
    padding: 0.625em;
    height: 100%;
}

nav ul li a {
    color: #fafffe;
    text-decoration: none;
}

nav ul li a:hover {
    color:#006599;
}

hr {
    margin: 0;
}

main {
    background-color: #fafffe;
    display: flex;
}

.main-body {
    max-width: 32em;
}

#whoishe {
    text-align: left;
    display: flex;
}

#whoishe img {
    width: 7em;
    height: 10.625em;
    margin: auto 1.25em;
    display: block;
}

#whoishe div {
    padding: 0 0.625em;
}

#actinghistory {
    text-align: left;
    display: flex;
}

#actinghistory img {
    width: 10em;
    height: 10em;
    margin: auto 0.2em;
    display: block;
}

#actinghistory div {
    padding: 0 0.625em;
    max-width: 19em;
}

#whatcanhedo {
    text-align: left;
}

#whatcanhedo h2 {
    padding: 0 0.625em;
}

#whatcanhedo div {
    text-align: left;
    display: flex;
    padding: 0 0.625em;
}

#whatcanhedo div img {
    width: 10em;
    height: 12.5em;
    padding: 0.625em 0;
}

#whatcanhedo div p {
    padding: 0 0.625em;
}

.sidebar {
    margin: 0.625em;
}

.info {
    background-color: lightgrey;
    padding: 0.3em 0;
}

.info h2 {
    margin: 0.2em;
    font-style: italic;
}

.info div p {
    padding: 0 0.2em;
    color: #006599;
}

.sidebar img {
    max-width: 14em;
    margin-top: 0.625em;
}

footer {
    max-width: 45em;
    margin: 0 auto;
    background-image: url("./images/footer.png");
}

footer ul {
    padding: 0;
    margin: 0;
}

footer ul li {
    list-style: none;
    display:inline-block;
    padding: 0.625em;
    height: 100%;
}

footer ul li a {
    color: #fafffe;
    text-decoration: none;
}