body {
     background-color: #efe5d5;
     font-family: 'Garamond', 'Georgia', 'Times New Roman', serif;
     color: #444444;
     margin-left: 10%;
     margin-right: 10% 
}
 h1, h2, h3 {
     text-align: center;
     clear: both;
     page-break-before: always;
}
 h4, h5, h6 {
     text-align: center;
     clear: both;
}
 p {
     margin-top: 0.45em;
     text-align: justify;
     text-indent: 1.55em;
     margin-bottom: 0.5em 
}
 p.author {
     margin-top: 1.5em;
     margin-right: 10%;
     text-align: right 
}
 div.fig {
     margin: auto;
     text-align: center 
}
 figcaption {
     color: #444444;
     padding: 1em;
     text-align: center;
     font-style: italic;
}
 table {
     margin: 1em auto 1em auto;
     max-width: 50em;
     border-collapse: collapse 
}
